<%- include partials/header.ejs %>

<%- include partials/mainNav.ejs %>

  <main class="container mx-auto">
    <div class="jumbotron mx-auto">
      <h1 class="display-4 mx-auto">Welcome to the <%= title %> page</h1>
    </div>
  </main>


<%- include partials/bottomNav.ejs %>

<%- include partials/footer.ejs %>
